.card-green-text {
  color: rgb(127, 210, 3);
}

.card-red-text {
  color: red;
}

.clickable-card {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.clickable-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4) !important;
}
